$header-col: #8c9acc;
$links: #8c24e5;

header{
	background-color: $header-col;

	h1{
		text-align: center;
		font-size: 2.5em;
		font-weight: bolder;
	}

	nav{
		text-align: center;

		a{
			text-decoration: none;
			color: $links;

			&:hover{
				color: white;
			}
		}
	}
}

